KERNEL_X86_OBJS:=\
$(X86DIR)/gdt/gdt.o \
$(X86DIR)/gdt/gdt_loader.o \
$(X86DIR)/gdt/tss_loader.o \
$(X86DIR)/isa/8254.o \
$(X86DIR)/isa/8259.o \
$(X86DIR)/isa/idt/idt.o \
$(X86DIR)/isa/idt/idt_loader.o \
$(X86DIR)/isa/interrupt/interrupt.o \
$(X86DIR)/isa/interrupt/interrupt_handler.o \
$(X86DIR)/video/vga.o \
$(X86DIR)/sound/speaker.o \
$(X86DIR)/rtc.o \
$(X86DIR)/nmi.o